@import url(https://fonts.googleapis.com/css?family=Slabo);

.card{
    width: 900px;
    float: right;
    
    flex: 500%;
    top: 20px;
    border: none;
    
    
    
    
}


.lft{
    display: flex;
    flex-direction: column;
    float: right;
    float: top;
    padding-right: 100px;
    position:absolute;
  top: 50px;
  left: 400px;
   
 
   
 } 

 .label{
     font-weight: 1000;
     font-family: 'Slabo';
 }